@import "https://fonts.googleapis.com/css?family=Lato:400,700,800,900";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.4rem;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #eee;
  background-color: #eee;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}
#page-wraper {
  position: relative;
}
/* --------------------------------------------------------Header-Part------------------------------------------ */
#header {
  background-color: #eee;

  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  border: 1px solid #e8e4e4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#left-nav #header-img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
#left-nav b {
  color: #000;
  font-size: 1.5em;
}
#right-nav ul {
  display: flex;
  flex-direction: row;
}
#right-nav ul li {
  list-style: none;
  padding: 4px 8px;
}
#right-nav ul li a {
  text-decoration: none;
}
.nav-link {
  font-size: 1.2em;
  color: #000;
  text-transform: capitalize;
  margin-right: 1.5rem;
}
/* -----------------------------------------Sidebar------------------------------------------------------------ */

#sidebar {
  height: 80px;
  width: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;
}
#sidebar .open {
  font-size: 30px;
  padding: 2px 4px;
  cursor: pointer;
  font-weight: 900;
}
#nav-menu {
  display: none;
  position: relative;
}
.menu-bar {
  padding: 8px 22px;

  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-color: #b2b2b2;
  width: 250px;
  position: fixed;
  /* top: 0; */
}
.menu-bar .active {
  left: 0;
  transition: 350ms;
}

.close-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 8px 14px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.menu-bar .close {
  font-size: 40px;
  cursor: pointer;
  font-weight: 900;
}
.content {
  font-size: 30px;
}
.menu-bar li {
  list-style: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar li .menu-link {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.menu-link {
  padding: 8px 0 8px 16px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.menu-link:hover {
  background-color: #1a83ff;
}

/* -------------------------------------------Hero-section----------------------------------------------------- */
#content-fixing {
  height: calc(100% - 80px) !important;
}
/* ------------------------------------------------------------------------------------------------------------ */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  text-align: center;
  overflow: hidden;
}

.search-heading {
  text-transform: capitalize;
  padding: 15px 4px;
  margin-bottom: 8px;
  word-wrap: break-word;
}
#form {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
#hero input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
}
#hero input[type="submit"] {
  background-color: #f1c40f;
  color: #000;
  width: 100%;
  max-width: 150px;
  border: 0;
}

.btn {
  padding: 5px 25px;
  border: 2px solid #000;
  border-radius: 3px;

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  background: transparent;
  cursor: pointer;
}
#hero input[type="submit"]:hover {
  background-color: #c48f1e;
}
/* --------------------------------------------------------------------------------------------------------- */
#container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
/* ---------------------------------------------------------------------------------------------------------- */
#product-features {
  margin-top: 30px;
}
.feature-grid {
  display: flex;
}
#product-features .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  align-content: center;
  height: 120px;
  color: rgb(244, 40, 40);
  font-size: 50px;
  width: 20%;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.details h2 {
  text-transform: capitalize;
}
.details p {
  margin-top: 8px;
  color: #302e2e;
  text-align: justify;
  text-justify: inter-word;
}
/* ------------------------------------------------------------------------------------------------------------ */
#how-it-works {
  margin-top: 55px;
}
.details-process {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.video {
  width: 560px;
  height: 315px;
}
.details-process h2 {
  text-transform: uppercase;
  padding: 5px 0;
  margin-bottom: 10px;
  text-decoration: underline;
}
.details-process h4 {
  text-transform: capitalize;
  padding: 5px 0;
  margin-bottom: 10px;
}
.details-process h3 {
  padding: 5px 0;
  margin-top: 20px;
  text-transform: capitalize;
}
.details-process p {
  color: #302e2e;
  text-align: justify;
  text-justify: inter-word;
}
/* ------------------------------------------------------------------------------------------------------------ */
#pricing {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.product {
  height: 300px;
  width: 300px;

  border: 1px solid #000;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#pricing .level {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #a4a4a4c2;
  text-transform: capitalize;
  font-size: 1.3rem;
  justify-content: center;
}
.product img {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}
.product h2 {
  padding: 10px 2px;
}
.product ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product ol li {
  list-style: none;
}
.text-visibility {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: "-----";
}

.text-visibility:hover {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: "-----";
  list-style: none;
}
.purchage-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 66px;
}
.purchage-option .btn a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}
.btn1,
.btn2 {
  background-color: #f1c40f;
  border: 0;
  font-weight: 500;
}
.btn1:hover {
  background-color: #c48f1e;
}
.btn2:hover {
  background-color: #c48f1e;
}
/* ------------------------------------------------------------------------------------------------------------ */
#footer {
  margin-top: 50px;
  height: 150px;
  background-color: #ddd;
  margin-left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#table-data,
tr,
th,
td {
  margin-right: 22px;
  border: 2px solid #302e2e;
  width: 300px;
  text-align: center;
  border-collapse: collapse;
  text-transform: capitalize;
}
/*---------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1040px) {
  .purchage-option .btn,
  a {
    font-size: 0.8rem;
    padding: 4px 12px;
  }
}
@media only screen and (max-width: 815px) {
  #right-nav ul li {
    padding: 4px;
  }
}

@media only screen and (max-width: 750px) {
  #right-nav {
    display: none;
  }
  #sidebar {
    display: flex;
  }
  #container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
  .details-process .video {
    width: 340px;
    height: 200px;
  }
  .details {
    margin-top: 25px;
  }
  .purchage-option .btn,
  a {
    font-size: 0.6rem;
    padding: 4px 12px;
  }
}

@media only screen and (max-width: 600px) {
  #pricing {
    display: flex;
    flex-direction: column;
  }
  #table-data,
  tr,
  th,
  td {
    margin: 0 auto;
  }
  .details-process {
    width: 80%;
    margin: 0 auto;
  }
  .video {
    width: 300px;
    height: 200px;
  }
  .search-heading {
    font-size: 1rem;
    font-weight: 700;
  }
  .details {
    margin-top: 25px;
  }
  .purchage-option .btn,
  a {
    font-size: 1rem;
    padding: 4px 12px;
  }
}
@media only screen and (max-width: 500px) {
  .video {
    width: 250px;
    height: 150px;
  }
}
